.buttonBox {
  padding: 10px!important;
}

button {
  padding: 5px!important;
  background: whitesmoke;
  border: 1.5px solid black;
  border-radius: 5px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

button:focus {
  outline: 0;
  background: #D3D3D3;
}

button:hover {
  background: #FFCA03;
}

button:active {
  background: #C47800;
}
