<div class="buttonBox">
  <span>
    <button id="addNewBuildingButton" (click)="addNewBuilding()">Add New Building</button>
    <button id="removeConstructButton" (click)="removeSelectedConstruct()">Remove Selection</button>
  </span>
</div>
